* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
    background-image: url(stopwatch.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .stopwatch {
    text-align: center;
  }
  
  .time {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #00bcd4;
    background-color: #00bcd4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}